<app-header [titulo]="titulo" [subtitulo]="subtitulo"></app-header>

<div class="pt-5"></div>
  <div class="div-cartoes">
    
    <div class="cartoes">
      <div class="cartao-conteudo">
        <div class="cartao-logo"><img src="assets/img/stockwhite.png" height="55px">
      </div>
        <div class="cartao-text">
          <h6 class="mb-1 mt-3">Total de Livros</h6>
          <div class="cartao-dado">653</div>
        </div> 
      </div>
    </div>

    <div class="cartoes">
      <div class="cartao-conteudo">
        <div class="cartao-logo">
          <img src="assets/img/users.png" height="57px">
      </div>
        <div class="cartao-text">
          <h6 class="mb-1 mt-3">Usuários Cadastrados</h6>
          <div class="cartao-dado">586</div>
        </div> 
      </div>
    </div>

    <div class="cartoes">
      <div class="cartao-conteudo">
        <div class="cartao-logo">
          <img style="margin-left: 5px;" src="assets/img/borrowwhite.png" height="55px">
      </div>
        <div class="cartao-text">
          <h6 class="mb-1 mt-3">Livros Emprestados</h6>
          <div class="cartao-dado">217</div>
        </div> 
      </div>
    </div>

    <div class="cartoes">
      <div class="cartao-conteudo">
        <div class="cartao-logo">
          <img src="assets/img/late.png" height="55px">
      </div>
        <div class="cartao-text">
          <h6 class="mb-1 mt-3">Devoluções Atrasadas</h6>
          <div class="cartao-dado">36</div>
        </div> 
      </div>
    </div>

    
  </div>

<div class="pt-3"></div>

<div class="d-flex flex-column-fluid mx-5">
  <div class="container-fluid pb-5">
    <div class="card card-custom gutter-b">
      <div class="card-body pb-0">
        <select id="tabSelect" class="nav-select btn btn-sm btn-secondary" (change)="selecionarTab($event)">
          <option class="text-primary" value="usuarios">Usuários</option>
          <option class="text-primary" value="livros">Livros</option>
          <option class="text-primary" value="emprestimos">Empréstimos</option>
        </select>
        <ul id="myTab" role="tablist" class="nav nav-tabs pt-5">
          <li class="nav-item">
            <a id="usuarios-tab" data-toggle="tab" href="#usuarios" class="nav-link active" (click)="selecionarTabPorClick($event, 'usuarios')">
                <i style="color: #3C6A54;" class="fa-solid fa-user fa-sm"></i>
              <span class="nav-text text-primary">Usuários</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="livros-tab" data-toggle="tab" href="#livros" class="nav-link" (click)="selecionarTabPorClick($event, 'livros')">
              <span class="nav-icon">
                <i style="color: #3C6A54;" class="fa-solid fa-book fa-sm"></i>
                </span>
              <span class="nav-text text-primary">Livros</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="emprestimos-tab" data-toggle="tab" href="#emprestimos" class="nav-link" (click)="selecionarTabPorClick($event, 'emprestimos')">
              <span class="nav-icon"><i style="color: #3C6A54;" class="fa-solid fa-handshake-simple fa-sm"></i></span>
              <span class="nav-text text-primary">Empréstimos</span>
            </a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content mt-5">
          <div id="usuarios" role="tabpanel" aria-labelledby="usuarios-tab" class="tab-pane fade active show">
            <app-usuario></app-usuario>
          </div>
          <div id="livros" role="tabpanel" aria-labelledby="livros-tab" class="tab-pane fade">
            <app-livro></app-livro>
          </div>
          <div id="emprestimos" role="tabpanel" aria-labelledby="emprestimos-tab" class="tab-pane fade">
            <app-emprestimo></app-emprestimo>
          </div>     
        </div>
      </div>
    </div>
  </div>
</div>
