<div class="">
  <div class="row pb-3">
    <div class="col-md-3">
      <div id="kt_filtro_card" class="card card-custom gutter-b">
        <div id="accordion">
          <div class="card">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="card-header">
                  <h5 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="card-icon">
                            <img src="assets/img/search-user.png" height="25px" alt="">
                          </span>
                        </div>
                        <div class="col">
                          <h6 class="card-label mb-0 text-white"><b>BUSCAR USUÁRIO</b></h6>
                        </div>
                      </div>
                    </div>
                  </h5>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form class="form" [formGroup]="usuarioForm" (submit)="filtrarRegistros()">
                      <div class="card-body p-0">
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Nome Completo:</label>
                            <input name="nomeCompleto" type="text" class="form-control" formControlName="NomeCompleto" />
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>E-mail:</label>
                            <input name="email" type="text" class="form-control" formControlName="Email" />
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Telefone:</label>
                            <input name="telefone" type="text" class="form-control" formControlName="Telefone" />
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Tipo de Usuário:</label>
                            <ng-select
                              placeholder="Todos"
                              [items]="tipoUsuarioConfig"
                              bindValue="Value"
                              bindLabel="Description"
                              formControlName="TipoUsuario">
                            </ng-select>
                          </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                          <button type="reset" class="btn btn-limpar mr-2 button-color2" (click)="limpar()">
                            <i class="fas fa-eraser pb-1"></i> Limpar
                          </button>
                          <button type="submit" class="btn button-color text-white">
                            <i class="fa fa-search pb-1" style="color: #ffffff;"></i> Pesquisar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="">
        <div class="card card-custom gutter-b">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="card-icon">
                  <i class="fa-solid fa-list fa-lg" style="color: #ffffff;"></i>
                </span>
              </div>
              <div class="col">
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="card-label my-2 text-white"><b>RESULTADOS</b></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="row pb-0 mb-0">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 80px" class="text-center font-weight-bold">Ações</th>
                      <th scope="col" class="text-center cursor-pointer font-weight-bold" (click)="sortBy('NomeCompleto')">
                        Nome Completo
                        <i class="datatable-icon-sort-unset icon-sm sort-btn m-0 p-0 text-center"></i>
                      </th>
                      <th scope="col" class="text-center cursor-pointer font-weight-bold" (click)="sortBy('Email')">
                        E-mail
                        <i class="datatable-icon-sort-unset icon-sm sort-btn m-0 p-0 text-center"></i>
                      </th>
                      <th scope="col" class="text-center cursor-pointer font-weight-bold" (click)="sortBy('Telefone')">
                        Telefone
                        <i class="datatable-icon-sort-unset icon-sm sort-btn m-0 p-0 text-center"></i>
                      </th>
                      <th scope="col" class="text-center cursor-pointe font-weight-bold" (click)="sortBy('TipoUsuario')">
                        Tipo de Usuário
                        <i class="datatable-icon-sort-unset icon-sm sort-btn m-0 p-0 text-center"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of response?.Registros; let i = index">
                      <tr>
                        <th scope="row" class="text-center align-middle">
                          <div class="dropdown">
                            <button class="btn btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-cog" style="color: #3C6A54;"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" data-toggle="modal" data-target="#usuarioModalCenter" (click)="editar(item)" href="#">Editar</a></li>
                            </ul>
                          </div>
                        </th>
                        <th class="text-center align-middle font-weight-normal">{{ item.NomeCompleto }}</th>
                        <td class="text-center align-middle">{{ item.Email }}</td>
                        <td class="text-center align-middle">{{ item.Telefone }}</td>
                        <td class="text-center align-middle">
                          <span *ngIf="item.TipoUsuario === 0">Bibliotecário</span>
                          <span *ngIf="item.TipoUsuario === 1">Professor</span>
                          <span *ngIf="item.TipoUsuario === 2">Aluno</span>
                      </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <ng-container *ngIf="mostrarPaginacao">
                  <app-paginacao-generica
                    [atualizarValores]="atualizarValores"
                    [response]="response"
                    [request]="request"
                    (atualizarLista)="atualizarLista($event)"
                  ></app-paginacao-generica>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
