<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header custom-modal-header">
      <h5 class="modal-title custom-modal-title text-center font-weight-bold">EDIÇÃO DE USUÁRIO</h5>
    </div>
    <form class="form" [formGroup]="edicaoForm">
      <div class="modal-body pt-4">
        <div class="row col-12 pr-0">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Nome Completo:</label>
              <input name="nomeCompleto" type="text" class="form-control" formControlName="NomeCompleto" />
            </div>
          </div>
        </div>
        <div class="row col-12 pr-0">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>E-mail:</label>
              <input name="email" type="text" class="form-control" formControlName="Email" />
            </div>
          </div>
        </div>
        <div class="row col-12 pr-0">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Telefone:</label>
              <input name="telefone" type="text" class="form-control" formControlName="Telefone" />
            </div>
          </div>
        </div>
        <div class="row col-12 pr-0">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Tipo de Usuário:</label>
              <ng-select
              placeholder="Todos"
              [items]="tipoUsuarioConfig"
              bindValue="Value"
              bindLabel="Description"
              formControlName="TipoUsuario">
            </ng-select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-limpar button-color2"
        data-dismiss="modal"
        (click)="modalRef.hide()">
        <i class="fa-solid fa-xmark fa-lg pr-2 text-center"></i>Cancelar
      </button>
      <button
        type="submit"
        data-toggle="modal"
          data-target="#editarModalCenter"
        class="btn button-color ml-2"
        (click)="editar()"
        [disabled]="edicaoForm.invalid">
        <i class="fa fa-save pb-1 pr-2"></i>Editar
      </button>
  </div>
</div>
